  <!DOCTYPE html>
  <html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/cssindexModel.css">
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/interaccion.js"></script>


  </head>
  <body>
    <div class="contenedor" >
      <div id="sidebar" class="sidebar menu-expanded">
        <!--Header-->
        <div  class="head">
          <div id="btn-menu1" class="btn-menu btn-menu1">
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
            <div class="btn-hamburger"></div>
          </div>
          <div class="title"><span>api-Xacalli</span></div>
          <div class="profile">
            <div class="photo">
              <img src="./Img/perfil.jpeg">
            </div>
          </div>
        </div>

        <ul id="menu1" class="menu">
          <li>
            <a href='html/clientes.html'>
              <div class='icon'><img class='img' src='Icon/Home.png'></div>
              <b>Clientes</b>
            </a>
          </li>
          <li>
            <a href='html/Empleados.html'>
              <div class='icon'><img class='img' src='Icon/Home.png'></div>
              <b>Empleados</b>
            </a>
          </li>
          <li>
            <a href='html/Opiniones.html'>
              <div class='icon'><img class='img' src='Icon/Home.png'></div>
              <b>Opiniones</b>
            </a>
          </li>
          <li>
            <a href='html/Habitaciones.html'>
              <div class='icon'><img class='img' src='Icon/Home.png'></div>
              <b>Habitaciones</b>
            </a>
          </li>
          <li>
            <a href='html/DetHabitaciones.html'>
              <div class='icon'><img class='img' src='./Icon/Home.png'></div>
              <b>Detalle de habilaciones</b>
            </a>
          </li>
          <li>
            <a href='html/Servicios.html'>
              <div class='icon'><img class='img' src='./Icon/Home.png'></div>
              <b>Servicios</b>
            </a>
          </li>
          <li>
            <a href='html/DetServicios.html'>
              <div class='icon'><img class='img' src='./Icon/Home.png'></div>
              <b>Detalles de servicios</b>
            </a>
          </li>
        </ul>
      </div>
      <div class="header">
  
          <img src="./Img/hoteles-banner.jpg">
        
      </div>
      <div id="contenido" class="contenido">
          
      </div>
    </div>
  </body>
  </html>